= form_for @issue, remote: @issue.persisted? do |f|
  .errors=render partial: 'layouts/errors', locals: { resource: @issue }

  .form-group.row
    = f.label :user_name, 'Your name', class: 'col-sm-2 col-form-label col-form-label-lg'
    .col-sm-10
      = f.text_field :user_name, class: "form-control form-control-lg", placeholder: "Your Name"
  .form-group.row
    = f.label :email, 'Your email', class: 'col-sm-2 col-form-label col-form-label-lg'
    .col-sm-10
      = f.email_field :email, class: "form-control form-control-lg", placeholder: "Your email"
  .form-group.row
    = f.label :department, class: 'col-sm-2 col-form-label col-form-label-lg'
    .col-sm-5
      = f.select :department_id, options_from_collection_for_select(Department.all, 'id', 'name'), { }, { class: 'form-control' }
  .form-group.row
    = f.label :subject, class: 'col-sm-2 col-form-label col-form-label-lg'
    .col-sm-10
      = f.text_field :subject, class: "form-control form-control-lg", placeholder: "Subject"
  .form-group.row
    .col-sm-12
      = f.text_area :content, class: "form-control form-control-lg", placeholder: "Type your message here..."
  .form-group.row
    = f.submit class: "btn btn-primary pull-right"
