-if @issue.previous_changes[:user_id]
  -@comment = Comment.new
  $('.comments_block').replaceWith("#{j render 'issues/comments'}")
  $('.assigned_person').text("#{@issue.user.email}")
:plain
  $('.errors').empty()
  if ($('.panel').length){
    $('.panel[data-issue-id=' + "#{@issue.id}" + ']').replaceWith("#{j render @issue}")
  } else {
    $('.errors').html("#{j render partial: 'layouts/errors', locals: { resource: @issue }}")
    $('.flashes').replaceWith("#{j render 'layouts/flash'}")
  }
-flash.clear

