
%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      -if user_signed_in?
        %ul.nav.navbar-nav
          %li= link_to 'Issues', issues_path
          -if current_user.is_admin?
            %li= link_to 'Statuses', statuses_path
        = form_tag issues_path, method: :get, class: 'navbar-form navbar-left' do
          .form-group
          = text_field_tag :search, params[:search], {class: 'form-control', placeholder: 'Search'}
          = submit_tag "Search", class: 'btn btn-default'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Logout', destroy_user_session_path, :method => :delete
      -else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Login', new_user_session_path
